<div class="container">
  <div class="row">
    <% @cocktails.each do | cocktail | %>
      <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to cocktail_path(cocktail.id) do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="card-description">
              <%= cocktail.name %>
            </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
